.search input {
    box-sizing: border-box;
    padding: 12px;
    gap: 10px;

    width: 388px;
    height: 36px;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
}

.input-siswa {
    gap: 24px;
    height: 36px;
}

.tabel-siswa {
    /* display: flex; */
    /* align-items: flex-start; */
    /* gap: 12px; */
    /* box-sizing: border-box; */
    /* flex-direction: column; */
    
    margin-top: 20px;
    height: 458px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
}

.tabel-head {
    /* display: flex;
    align-items: center; */
    padding: 0px 14px;
    gap: 12px;

    height: 48px;
    background: linear-gradient(90deg, #FFA8A8 0%, #FF6D6D 64.06%);
    border-radius: 20px 20px 0px 0px;
}

.tabel-head tr {
    gap: 12px;
}

.tabel-body {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* gap: 12px; */
    padding: 0px 14px;
    height: 48px;
}

.tabel-body tr {
    gap: 12px;
}

.tabel-siswa thead th {
    /* width: 100vw; */
    color: #FFFFFF;
}

.tabel-siswa tbody td {
    /* width: 100vw; */
    height: 48px;
}

.buatsiswa {
    background: linear-gradient(90deg, #FFA8A8 0%, #FF6D6D 64.06%);
    width: 140px;
    border-radius: 14px;
    border: 0px;
    height: 36px;
}