.search input {
    box-sizing: border-box;
    padding: 12px;
    gap: 10px;

    width: 388px;
    height: 36px;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
}

.input-siswa {
    gap: 24px;
    height: 36px;
}

.buatsiswa {
    background: linear-gradient(90deg, #FFA8A8 0%, #FF6D6D 64.06%);
    width: 140px;
    border-radius: 14px;
    border: 0px;
    height: 36px;
}

.tabel-siswa {
    border: 1px solid #C2C2C2;
    padding: 12px;
    height: 420px;
    border-radius: 12px;
}