.sidebar-luar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 246px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* background: #FFFFFF; */
    
    /* border: 1px solid #FFFFFF; */
    background: linear-gradient(180deg, #FF6D6D 37.5%, #FFA8A8 100%);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.separator {
    width: 178px;
    height: 0px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.menus-luar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
    padding-left: 24px;
}

.menu-menu {
    position: relative;
}



.data-menuutama {
    display: flex;
    align-items: center;
    padding-left: 12px;
    height: 48px;
}

.data-menuutama:hover {
    background: #FFFFFF;
    border-radius: 12px 0 0 12px;
}

.data-menuutama:hover span {
    color: #424242;
}

.data-menuutama:hover a {
    color: #424242;
}



.data-sidemenu {
    gap: 12px;
    margin-top: 8px;
}

.data-sidemenu a {
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 36px;
}

.data-sidemenu a.active {
    background: #FFFFFF;
    border-radius: 12px 0 0 12px;
    height: 48px;
}

.data-sidemenu a.active span {
    color: #424242;
}

.data-sidemenu a:hover {
    background: #FFFFFF;
    border-radius: 12px 0 0 12px;
    height: 48px;
}

.data-sidemenu a:hover span {
    color: #424242;
}