.search input {
    box-sizing: border-box;
    padding: 12px;
    gap: 10px;

    width: 388px;
    height: 36px;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
}

.input {
    gap: 24px;
    height: 36px;
}

.buatsiswa {
    background: linear-gradient(90deg, #FFA8A8 0%, #FF6D6D 64.06%);
    width: 140px;
    border-radius: 14px;
    border: 0px;
    height: 36px;
}

.tabel {
    border: 1px solid #C2C2C2;
    height: 420px;
    padding: 12px;
    border-radius: 12px;
}

.head {
    /* background: linear-gradient(90deg, #FFA8A8 0%, #FF6D6D 64.06%); */
    /* border-radius: 12px 12px 0 0; */
    border-bottom: 1px solid #C2C2C2;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}